# OrdinalsBot API Key - Ensure "satscanner" and "satextractor" scopes are applied
ORDINALSBOT_API_KEY=""

# Mining Configuration
# minimum amount of funds to withdraw from exchange
MIN_WITHDRAWAL_AMOUNT=3
# maximum amount of funds to withdraw from exchange
MAX_WITHDRAWAL_AMOUNT=10
# minimum amount needed to send a deposit to exchange account
MIN_DEPOSIT_AMOUNT=0.00015
# time interval to trigger exchange withdrawals
WITHDRAW_FUNDS_INTERVAL_MIN=60
# time interval to trigger sat extraction
EXTRACT_SATS_INTERVAL_MIN=10
# min output size, leave default unless you know what you are doing
MIN_OUTPUT_SIZE=546

# The satributes will NOT be extracted
FILTER_SATRIBUTES=pizza,vintage

# Local Bitcoin Core Wallet Address
TUMBLER_ADDRESS=
# default address special sats will go to
INVENTORY_WALLET=
# # optional if you want to use a custom wallet for each special sat type
# CUSTOM_SPECIAL_SAT_WALLET_ADDR_UNCOMMON=
# CUSTOM_SPECIAL_SAT_WALLET_ADDR_BLACK=
# CUSTOM_SPECIAL_SAT_WALLET_ADDR_BLOCK-9=
# CUSTOM_SPECIAL_SAT_WALLET_ADDR_BLOCK-78=
# CUSTOM_SPECIAL_SAT_WALLET_ADDR_NAKAMOTO=
# CUSTOM_SPECIAL_SAT_WALLET_ADDR_PIZZA=
# CUSTOM_SPECIAL_SAT_WALLET_ADDR_VINTAGE=

# Bitcoin Core RPC
BITCOIN_RPC_HOST=
BITCOIN_RPC_PORT=
BITCOIN_RPC_USERNAME=
BITCOIN_RPC_PASSWORD=
# name of the local bitcoin core wallet to load and use
BITCOIN_RPC_WALLET=

# Exchanges
ACTIVE_EXCHANGE="kraken"

# Kraken
KRAKEN_API_KEY=
KRAKEN_API_SECRET=
# withdrawal wallet key (tag) on kraken
KRAKEN_WITHDRAWAL_WALLET=
# deposit wallet address on kraken
KRAKEN_DEPOSIT_WALLET=

# Okcoin 
# Make sure to allowlist the IP address of the server running this bot
OKCOIN_API_KEY=
OKCOIN_API_SECRET=
OKCOIN_API_PASSPHRASE=
# for okcoin, tag is not used for withdrawal, provide the trusted withdrawal address here
OKCOIN_WITHDRAWAL_WALLET=
OKCOIN_DEPOSIT_WALLET=


# Notifications
SLACK_WEB_HOOK=

